

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    padding-right: 20px;
    overflow: visible;
    font-size: 150% !important;
    column-count: 2; /* Split content into two columns */
  column-gap: 100px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
  
  
}

body > * {
    width: 50vw !important;
}

div {
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
}